<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<!--必须是`web-app 3.0`才能零配置-->
<!--<web-app>-->
    <display-name>Archetype Created Web Application</display-name>
</web-app>